<article id="article-content">
  <header class="entete1">
    <span class="title">
      Le programme <%= @programme.annee %>
    </span>
  </header>
  
  <div id="one-col">
    <p><%= link_to "Téléchagez", download_programme_programme_path(@programme) %></p>
  </div>
</article>