.DS_Store
public/system/
log/development.log
log/cucumber.log
log/test.log
tmp/*
db/*.sqlite3
config/database.yml
config/initializers/mail.rb
config/deploy.rb


/ocg.sublime-project
/ocg.sublime-workspace