<div class="yui-g sliderfalse">
	<h1 class="entete1">Modifiez informations sur Partenaire</h1>
	<div class="form">
		<%= render :partial => 'form', :locals => {:partenaire => @partenaire} %>
		<p><%= link_to 'Retour', partenaires_path %></p>		
	</div>
</div>
<div class="yui-gb maincontent">
	
</div>