<article id="article-content">
  <header class="entete1">
    <span class="title">Modifier l'article</span>
  </header>
  
  <div id="one-col">
    <div class="form">
      <%= render :partial => 'form', :locals => {:article => @article} %>
  	</div>    
  </div>
  
  <footer class="admin-links">
    <p>
  		<%= link_to "Tous les articles", articles_path() %>
  	</p>
  </footer>
</article>