<div class="yui-g sliderfalse">
	<h1 class="entete1">Enregistrez l'Article</h1>
	<div class="form">
		<%= render :partial => 'form', :locals => {:article => @article} %>

	</div>

</div>
<div class="yui-gb maincontent">

</div>