html {
	width: 994px;
	height: 1000px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/fond.jpg);
}

div#doc4.yui-t7 {
	position: static;
}

/* @group Header */

#hd {
	display: block;
	width: 992px;
}

#hd #logo {
	float: left;
	height: 201px;
	width: 478px;
}

#hd #menus {
	height: 201px;
	background: url(../images/layout_06.png) no-repeat left;
	display: block;
	width: 500px;
	margin-left: 486px;
}

#hd #menus ul.lavaLamp {
	position: relative;
	overflow: hidden;
	padding-left: 8px;
	line-height: 60px;
	padding-top: 80px;
}

#hd #menus ul.lavaLamp li {
	text-align: left;
	color: white;
	float: left;
	list-style: none;
	height: 76px;
	margin-right: -30px;
}

.lavaLamp li.back {
	width: 9px;
	height: 76px;
	z-index: 8;
	position: absolute;
	background: url(../images/activenav.png) no-repeat right;
}

.lavaLamp li.back .left {
	width: 30px;
	margin-right: 9px;
	background: url(../images/activenav.png) no-repeat left top;
}

.lavaLamp li a {
	position: relative;
	overflow: hidden;
	text-decoration: none;
	font-weight: bold;
	z-index: 10;
	display: block;
	float: left;
	letter-spacing: 0;
	height: 76px;
	top: 7px;
	text-align: center;
	width: 116px;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 1.1em;
	color: white;
}

.lavaLamp li a:hover {
	color: #41291b;
}

/* @end */

/* @group Body */

#bd h1.entete1 {
	font-size: 1.2em;
	color: #1c6791;
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
	background: url(../images/bgh1-entete1.gif) no-repeat center top;
	height: 55px;
	line-height: 55px;
}

div.yui-gb.maincontent ul.next_events li {
	list-style-type: none;
	list-style-position: inside;
	list-style-image: url(../images/bullet.png);
	margin-top: 20px;
	padding-left: 40px;
	width: 245px;
}

div.yui-gb.maincontent ul.recent_articles li {
	list-style-type: none;
	list-style-position: inside;
	list-style-image: url(../images/bullet.png);
	margin-top: 20px;
	padding-left: 40px;
	width: 245px;
}

#bd {
	
}

#bd div.yui-g.slider {
	background: url(../images/layout_07.png) no-repeat;
	width: 974px;
	height: 251px;
	padding-right: 40px;
}

#bd div.yui-g.sliderfalse {
	background: url(../images/bgmain_03.png) no-repeat;
	width: 974px;
	height: 249px;
	padding-right: 40px;
	padding-left: 40px;
	margin-left: 3px;
}

#bd div.yui-g.sliderfalse>div.form {
	position: relative;
	text-align: center;
}

#bd div.yui-g.sliderfalse>div.form p {
	margin-bottom: 15px;
}

#bd div.yui-g.sliderfalse>div.form label {
	font-weight: bold;
	color: #176d90;
	font-size: 1.1em;
}

#bd div.yui-gb.sliderfalse {
	background: url(../images/bgmain_03.png) no-repeat;
	width: 974px;
	height: 249px;
	padding-right: 40px;
	padding-left: 10px;
	margin-left: 3px;
}

#bd div.yui-gb.sliderfalse div.programme {
	width: 250px;
	height: 450px;
	float: left;
	margin-right: 15px;
}

div.yui-gb.sliderfalse ul.next_events li {
	list-style-type: none;
	list-style-position: inside;
	list-style-image: url(../images/bullet.png);
	margin-top: 20px;
	padding-left: 40px;
	width: 245px;
}

#bd div.yui-gb.maincontent {
	background: url(../images/layout_09.png) no-repeat;
	height: 416px;
	padding-right: 40px;
	width: 974px;
	color: #1b5791;
}

#bd span.date {
	color: maroon;
}

/* @end */

/* @group Footer */

#ft {
	padding-right: 40px;
	padding-left: 40px;
	margin-top: 20px;
	text-align: center;
}



/* @end */