html {
	width: 994px;
	height: 1000px;
	margin-right: auto;
	margin-left: auto;
	background: #f6eb20 url(../images/fond.jpg) repeat-x;
}

div#doc4.yui-t7 {
	position: static;
}

/* @group Header */

#hd {
	display: block;
	width: 992px;
}

#hd #logo {
	float: left;
	height: 201px;
	width: 478px;
}

#hd #menus {
	height: 201px;
	background: url(../images/layout_06.png) no-repeat left;
	display: block;
	width: 500px;
	margin-left: 486px;
}

#hd #menus ul.lavaLamp {
	position: relative;
	overflow: hidden;
	padding-left: 8px;
	line-height: 60px;
	padding-top: 80px;
}

#hd #menus ul.lavaLamp li {
	text-align: left;
	color: white;
	float: left;
	list-style: none;
	height: 76px;
	margin-right: -30px;
}

.lavaLamp li.back {
	width: 9px;
	height: 76px;
	z-index: 8;
	position: absolute;
	background: url(../images/activenav.png) no-repeat right;
}

.lavaLamp li.back .left {
	width: 30px;
	margin-right: 9px;
	background: url(../images/activenav.png) no-repeat left top;
}

.lavaLamp li a {
	position: relative;
	overflow: hidden;
	text-decoration: none;
	font-weight: bold;
	z-index: 10;
	display: block;
	float: left;
	letter-spacing: 0;
	height: 76px;
	top: 7px;
	text-align: center;
	width: 116px;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 1.1em;
	color: white;
}

.lavaLamp li a:hover {
	color: #41291b;
}

#menus p.logoutpanel {
	display: block;
	margin-left: 370px;
	width: 75px;
	height: 20px;
	background-color: navy;
	text-align: center;
	font-weight: bold;
	line-height: 20px;
	margin-top: -5px;
}

#menus p.logoutpanel a {
	color: white;
}

/* @end */

/* @group Body */

#bd h1.entete1 {
	font-size: 1.2em;
	color: #1c6791;
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
	background: url(../images/bgh1-entete1.gif) no-repeat center top;
	height: 55px;
	line-height: 55px;
}

div.yui-gb.maincontent ul.next_events li {
	list-style-type: none;
	list-style-position: inside;
	list-style-image: url(../images/bullet.png);
	margin-top: 20px;
	padding-left: 40px;
	width: 245px;
}

div.yui-gb.maincontent ul.recent_articles li {
	list-style-type: none;
	list-style-position: inside;
	list-style-image: url(../images/bullet.png);
	margin-top: 20px;
	padding-left: 40px;
	width: 245px;
}

#bd {
	line-height: 1.4em;
}

#bd div.yui-g.slider {
	background: url(../images/layout_07.png) no-repeat;
	width: 974px;
	height: 251px;
	padding-right: 40px;
}

#bd>div.yui-g.sliderfalse {
	background: url(../images/bg-body_03.png) repeat-y -4px;
	width: 974px;
	padding-right: 40px;
	padding-left: 40px;
	margin-left: 3px;
	min-height: 416px;
	height: 600px;
	display: block;
}

#bd div.yui-g.sliderfalse div.article {
	width: 904px;
	margin-bottom: 20px;
}

div.yui-gb.sliderfalse>div.article>ul.articles {
	margin-left: 40px;
	margin-right: 40px;
}

ul.articles>li {
	list-style-image: url(../images/bullet.png);
	list-style-position: inside;
}

div.yui-gb.sliderfalse>div.article>ul.articles span.titre {
	color: maroon;
	font-weight: bold;
	font-size: 1.1em;
}

#bd div.yui-g.sliderfalse div.article strong
 {
	font-weight: bold;
	text-align: center;
}

div.article p {
	margin-left: 20px;
	margin-top: 10px;
}

#bd div.yui-g.sliderfalse>div.form {
	position: relative;
	text-align: center;
}

#bd div.yui-g.sliderfalse>div.form p {
	margin-bottom: 15px;
}

#bd div.yui-g.sliderfalse>div.form label {
	font-weight: bold;
	color: #176d90;
	font-size: 1.1em;
}

div.form span.mceEditor.defaultSimpleSkin {
	text-align: center;
	display: block;
	margin-left: 250px;
}

#bd div.yui-gb.sliderfalse {
	background: url(../images/bgmain_03.png) repeat-y;
	width: 974px;
	height: auto;
	padding-right: 40px;
	padding-left: 10px;
	margin-left: 3px;
}

#bd div.yui-gb.sliderfalse div#slider {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
	padding-bottom: 15px;
}

#bd div.yui-gb.sliderfalse div#slider ul {
	
}

#bd div.yui-gb.sliderfalse div#slider li {
	
}

#bd div.yui-gb.sliderfalse div#slider li>div.text-block {
}

#bd div.yui-g.sliderfalse div#slider.gallery {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
	height: 500px;
	width: 500px;
}

#bd div.yui-gb.sliderfalse div#slider p.fede {
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 1.1em;
}

div.yui-gb.sliderfalse ul.next_events li {
	list-style-type: none;
	list-style-position: inside;
	list-style-image: url(../images/bullet.png);
	margin-top: 20px;
	padding-left: 40px;
	width: 245px;
}

div.yui-g.sliderfalse>table.partenaires>tbody>tr>td {
	margin-right: 10px;
	padding-left: 20px;
}

div.yui-g.sliderfalse>table.partenaires {
	margin-bottom: 20px;
}

div.yui-g.sliderfalse>div.tableform table {
	width: 90%;
}

div.yui-g.sliderfalse>div.tableform table p {
	margin-bottom: 5px;
	text-align: left;
}

div.yui-g.sliderfalse>div.tableform table p.button {
	text-align: center;
}

div.yui-g.sliderfalse>div.tableform table p>label {
	font-weight: bold;
}

#bd div.yui-gb.maincontent {
	padding-right: 40px;
	width: 974px;
	color: #1b5791;
	height: auto;
	min-height: 200px;
	background: url(../images/bg-body_03.png) repeat-y scroll -1px -1px;
}

#bd div.yui-gb.maincontent p {
	margin-left: 30px;
}

#bd div#subcontent {
	background: url(../images/bg-subcontent_06.png) no-repeat;
	height: 50px;
	width: 990px;
}

#bd span.date {
	color: maroon;
	font-weight: bold;
}

#bd p.admin-login {
	text-align: center;
	font-weight: bold;
	background-color: #f13f37;
	padding: 5px;
	width: 80%;
	margin-left: 30px;
	border: 1px solid black;
}

#bd p.admin-login a {
	color: #faf21d;
}

#bd div.yui-g.sliderfalse>table.galleryindex>tbody>tr>td {
	padding: 5px;
}

#bd div.yui-g.sliderfalse>table.galleryindex>tbody>tr>td>img {
	border: 4px double black;
}

/* @end */

/* @group Footer */

#ft {
	padding-right: 40px;
	padding-left: 40px;
	margin-top: 20px;
	text-align: center;
}



/* @end */

div.yui-g.sliderfalse>p.gallery-name {
	margin-top: 5px;
	margin-bottom: 5px;
}

#bd div#flashmessages {
	z-index: 1000;
	background-color: transparent;
	color: yellow;
	font-weight: bold;
	text-align: center;
	display: block;
	visibility: visible;
	overflow: hidden;
	position: absolute;
	left: 450px;
	font-size: 1.2em;
	padding: 5px;
	border: 3px groove red;
	top: 0;
}