<div class="yui-g sliderfalse">
	<h1 class="entete1">Listing des videos</h1>
	
	
	<table>
	<% @videos.each do |video| %>
	  <tr>
	    <td><%= video.youtube_url %></td>
		<% if user_signed_in? %>
	    <td><%= link_to 'Modifier', edit_video_path(video) %></td>
	    <td><%= link_to 'Supprimer', video, :confirm => 'En êtes vous sur?', :method => :delete %></td>
		<% end %>
	  </tr>
	<% end %>	
	</table>

	<br />

	<%= link_to 'Ajouter une video', new_video_path %>
</div>
<div class="yui-gb maincontent">
	
</div>
