<div class="yui-g sliderfalse">
	<h1 class="entete1">Modifier Gallerie</h1>
	<div class="tableform">
		<%= render :partial => 'form', :locals => {:gallery => @gallery} %>
	</div>
</div>
<div class="yui-gb maincontent">
	
</div>