<article id="diaporama">
  <header class="entete1">
    <span class="title"><%= @gallery.name unless @gallery.name.blank? %></span>
  </header>
  
  <div id="slider">
    <%- @gallery.images.each do |image| -%>
			<%= image_tag(image.photo.url(:large), :alt => image.photo.original_filename) %>
		<%- end -%>
  </div>
  
  <div id="one-col">
    <%- if user_signed_in? -%>
      <p>
        Télécharger les photos de la galerie en cliquant sur le bouton ci-dessous ou en glissant-déposant plusieurs photos sur le bouton ci-dessous.
      </p>
      <div id="file-uploader">
        <noscript>
  		    <p>Please enable Javascript to use file uploader</p>
  		  </noscript>
      </div>

      <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
          var uploader = new qq.FileUploader({
            element: document.getElementById('file-uploader'),
            action: '/images',
            csrf: true,
            params: {
              gallery_id: '<%= @gallery.id %>',
            },
            allowedExtensions: ['jpg', 'jpeg', 'png', 'gif', 'bmp'],
            sizeLimit: 2224000, // max size 2MB in bytes
            minSizeLimit: 0,

            onComplete: function(id, fileName, responseJSON){
              if (responseJSON.success) {
                $('.qq-upload-failed-text').first().html('Téléchargement réussi!');
                $('.qq-upload-failed-text').first().show();
                $('#back-link').show();
              }
              else
              {
                $('.qq-upload-failed-text').first().html('Hmm .. le téléchargement a échoué.');
                $('.qq-upload-failed-text').first().show();
              }
            }
          });
        });  
      </script>
    <%- end -%>
  </div>
  
  <footer class="admin-links">
    <p><%= link_to "Retour", galleries_path() %></p>	
  </footer>
</article>

	
	<script type="text/javascript"> 
	var clickmessage= "Image protégée" 
	function disableclick(e) 
	{if (document.all) 
	{if (event.button==2||event.button==3) 
	{if (event.srcElement.tagName=="IMG") 
	{alert(clickmessage); 
	return false;}}} 
	if (document.layers) 
	{if (e.which == 3) 
	{alert(clickmessage); 
	return false;}}} 

	function associateimages() 
	{for(i=0;i<document.images.length;i++) 
	document.images[i].onmousedown=disableclick;} 
	if (document.all) 
	document.onmousedown=disableclick 
	else if (document.layers) 
	associateimages() 
	</script>