<article id="article-content">
  <header class="entete1">
    <span class="title">Enregistrez le paragraphe</span>
  </header>
  
  <div id="one-col">
    <div class="form">
  		<%= render :partial => 'form', :locals => {:f => @paragraph} %>
  	</div>
  </div>
  
  <footer class="admin-links">
    <p>
  		<%= link_to "Retour à l'article", article_path(@article) %>
  	</p>
  </footer>
</article>